/* home page stylesheet*/
.howWeWork {
    padding-top: 2em;
    min-height: 500px;

    @media (min-width: $screen-md-min) {
        padding-top: 7em;
        min-height: 750px;
    }

    @media (min-width: $screen-lg-min) {
        min-height: 1200px;
    }

    .row {

        .text-center {
            width: 100%;
        }
    }  

    .title {

        h3 {
            font-size: 2em;
            color: $text;            
            margin-bottom: 10px;
            text-transform: uppercase;
            margin-top: 50px;
            font-weight: bold;
            font-family: 'Open Sans';

            @media (min-width: $screen-sm-min) {
                font-size: 3em;
            }

            @media (min-width: $screen-md-min) {
                font-size: 4em;
            }

            @media (min-width: $screen-lg-min) {
                margin-top: 186px; 
                font-size: 6em;
            }
        }

        span {
            color: $span;
            font-size: 0.9em;
            line-height: 1.5em;
            width: 57%;
            display: block;
            margin: auto;

            @media (min-width: $screen-sm-min) {
                font-size: 1.5em;
                line-height: 1.3em;               
                margin-top: 1em;
                margin-bottom: 2em;
            }

            @media (min-width:$screen-md-min) {
                width: 68%;
            }

            @media (min-width: $screen-lg-min) { 
                font-size: 2.5em;
                width: 61%;
            }
        }
    }

    .smallRow {        
        padding: 0;
        margin: 0;        
        margin: auto;
        margin-top: 2em;
        margin-bottom: 4em;

        li {
            list-style-type: none;
            
            .image {                

                @media (min-width: $screen-sm-min) {
                    
                    &::after {
                        display: block;
                        content: ''; 
                        background-repeat: no-repeat;                       
                        width: 71%;
                        height: 1px;
                        position: absolute;
                        top: 2.5em;
                        right: -36%;
                        background: $horizontline;                       
                    }
                }   
                
                @media (min-width: $screen-md-min) {
                    
                    &::after {
                        display: block;
                        content: '';
                        width: 72%;
                        right: -37%;
                        top: 1.7em;                      
    
                        @media (min-width: $screen-lg-min) {
                            width: 65%;                            
                            right: -33%;
                        }
                    }
                }   
            }/*end of image*/

            &:first-child {

                .image {                    

                    @media (min-width: $screen-sm-min) {
                    
                        &::after {
                            display: block;
                            content: ''; 
                            background-repeat: no-repeat;                       
                            width: 59%;
                            height: 1px;
                            position: absolute;
                            top: 2.5em;
                            right: -36%;
                            background: $horizontline;                       
                        }
                    }  

                    @media (min-width: $screen-md-min) {
                    
                        &::after {
                            display: block;
                            content: '';
                            width: 71%;
                            right: -37%;
                            top: 1.7em;                     
        
                            @media (min-width: $screen-lg-min) {
                                width: 65%;                            
                                right: -33%;
                            }
                        }
                    }   
                }
            }

            &:last-child {
                .image {
                    &::after {
                        display: none;
                    }
                }
            }
        }

        @media (min-width: $screen-lg-min) {
            width: 85%;           
        }     

        .image {
            width: 5em;
            height: 5em;
            margin: auto;
            display: flex;
            justify-content: center;            
            background-repeat: no-repeat;
            background-position: center center;
            margin-bottom: 2em;

            @media (min-width: $screen-md-min) {
                width: 50px;
                height: 50px;
            }
            
            img {
                width: 100%;
            }
        }

        .plane{
            display: inline-flex;
            align-items: center;   
            
            @media (min-width: $screen-md-min) {
                
            }
        }

        .dote {          
            display: inline-flex;
            align-items: center;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: $dote;
            margin-top: 25px;

            @media (min-width:$screen-md-min) {
                margin-top: 12.5px;
            }

            img {
                width: 50%;
            }
        }

        .title {
            font-size: 1em;
            letter-spacing: 0.05px;
            font-family: 'Open Sans';
            color: $nextred;
            text-transform: uppercase;
            line-height: 1em;
            min-height: 3em;
            font-weight: bold;

            @media (min-width: $screen-sm-min) {
                font-size: 1.3em;
            }

            @media (min-width: $screen-lg-min) {
                font-size: 2.3em;
                letter-spacing: 0.75px;
            }

            @media (min-width: 2000px) {
                font-size: 3em;
                letter-spacing: 0.75px;
            }

        }

        .greyText {
            color: $nextccc;           
            font-size: .85em;
            line-height: 1.4em;
            margin-top: 0.5em;
            font-style: italic;
            font-family: 'Open Sans';

            @media (min-width: $screen-sm-min) {
                font-size: 1.01em;
            }

            @media (min-width: $screen-md-min) {
                font-size: 0.91em;
                padding: 0em 1em;
            }

            
            @media (min-width: $screen-lg-min) {
                font-size: 1.6em;
                padding: 0;
            }

            @media (min-width: 2500px) {
                font-size: 2.25em;
            }
        }
    }
}