/* home page stylesheet*/
.wireFraming {
    background: url(../img/background-part.png);
    background-repeat: repeat;
    width: 100%;
    height: auto;
    padding-top: 7em;
    padding-bottom: 10em;

    @media (min-width: $screen-md-min) {
        min-height: 59em;
    }

    .row {       
    
        .text-center {
            width: 100%;
        }        
    } /*end of row*/

    .title {
        font-size: 2em;
        color: $white;
        text-transform: uppercase;
        font-family: 'Open Sans';        
        margin-top: 1.2em;
        margin-left: 0;
        text-align: center;

        @media (min-width: $screen-sm-min) {
            margin-top: 2.2em;        
            text-align: left;
        }

        @media (min-width: $screen-md-min) {
            font-size: 4em;
            margin-top: 1.2em;      
            margin-left: 0.5em;
        }
        @media (min-width: $screen-lg-min) {
            font-size: 6em;      
            margin-top: 0.7em;          
            margin-left: 0.71em;
        }
      
    }  /*end of title*/
    
    .description {
        font-size: 1.25em;
        line-height: 1.5em;
        color: $white;
        font-family: "Open Sans";              
        margin-top: 0.2em;
        margin-left: 0;
        text-align: center;

        @media (min-width: $screen-sm-min) {
            text-align: left;
        }
        
        @media (min-width: $screen-md-min) {           
            font-size: 1.25em;
            line-height: 2em;
            margin-top: 1em;
            margin-left: 1.5em;
        }

        @media (min-width:  $screen-lg-min) {
            font-size: 2.25em;
            line-height: 2em;
            margin-top: 80px;
            margin-left: 2em;
        }

        @media (min-width:  2000px) {
            margin-left: 0;
        }
    }/*end of description*/

    img {      
        width: 100%;     
        max-width: 300px;
        height: auto;
        display: block;
        margin: auto;
        margin-top: 5.2em;
        position: relative;
        
        @media (min-width: $screen-md-min) {
            max-width: 300px;
        }

        @media (min-width: $screen-lg-min) {        
            max-width: 400px;
        }

        @media (min-width: 2500px) {
            max-width: 500px;
        }

    }/*end of img*/

    .arrow-down {
        background-image: url('../img/arrow-down.png');
        background-repeat: no-repeat;
        background-position: center center;
        width: 1em;     
        height: 5em;
        margin: auto;
        position: relative;
        top: 2em;
        left: 0;

        @media (min-width: $screen-md-min) {
            left: 0;
        }

        @media (min-width: 1600px) {
            top: 5em;
        }
    }/*end of arrow-down*/

    .more-down {
        display: block;

        @media (min-width: $screen-sm-min) {
            display: none;
        }
    }/*end of this*/

    .arrow-left {
        display: none;

        @media (min-width: 1200px) {
            display: block;
            background-image: url('../img/arrow-left.png');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;            
            margin: auto;
            position: relative;
            top: -5em;            
            left: -53%;         
            width: 21%;
            height: 1em;        
        }

        @media (min-width: $screen-lg-min) {
            width: auto;
            top: -7em;                      
        }
    }/*end of arrow-left */

    .arrow-right {
        background-image: url('../img/arrow-left.png');
        transform: rotate(180deg);
    }/*end of this*/
}/*end of wireframing*/