.header {    
    background-image: url(../assets/header_image@2x.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    transition: cubic-bezier();    

}


